{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<html>
	<head>
		
		<?xml version="1.0" encoding="UTF-8" standalone="no"?>
		<!-- DIBUJO DE ENTRADAS Y SALIDAS DE PLC S7-1214 -->
		<svg
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
		   xmlns:cc="http://creativecommons.org/ns#"
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		   xmlns:svg="http://www.w3.org/2000/svg"
		   xmlns="http://www.w3.org/2000/svg"
		   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		   width="700"
		   height="344.09"
		   id="svg2"
		   version="1.1"
		   inkscape:version="0.48.4 r9939"
		   sodipodi:docname="New document 1">
		  <defs
			 id="defs4" />
		  <sodipodi:namedview
			 id="base"
			 pagecolor="#ffffff"
			 bordercolor="#666666"
			 borderopacity="1.0"
			 inkscape:pageopacity="0.0"
			 inkscape:pageshadow="2"
			 inkscape:zoom="0.7"
			 inkscape:cx="171.31286"
			 inkscape:cy="156.96008"
			 inkscape:document-units="px"
			 inkscape:current-layer="layer1"
			 showgrid="false"
			 width="1052.36px"
			 inkscape:window-width="1364"
			 inkscape:window-height="718"
			 inkscape:window-x="0"
			 inkscape:window-y="0"
			 inkscape:window-maximized="1" />
		  <metadata
			 id="metadata7">
			<rdf:RDF>
			  <cc:Work
				 rdf:about="">
				<dc:format>image/svg+xml</dc:format>
				<dc:type
				   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
				<dc:title></dc:title>
			  </cc:Work>
			</rdf:RDF>
		  </metadata>
		  <g
			 inkscape:label="Layer 1"
			 inkscape:groupmode="layer"
			 id="layer1"
			 transform="translate(0,-708.27223)">
			<rect
			   style="fill:#ffb380;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="rect2985"
			   width="700"
			   height="165"
			   x="1.0101535"
			   y="709.59406" />
			<text
			   xml:space="preserve"
			   style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="257.5889"
			   y="752.02045"
			   id="text2987"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan2989"
				 x="257.5889"
				 y="752.02045">Entradas</tspan><tspan
				 sodipodi:role="line"
				 x="257.5889"
				 y="802.02045"
				 id="tspan2991" /></text>
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="I0"
			   width="40"
			   height="40"
			   x="47.974594"
			   y="810.29803" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="I1"
			   width="40"
			   height="40"
			   x="127.97459"
			   y="810.29803" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="I2"
			   width="40"
			   height="40"
			   x="207.97459"
			   y="810.29803" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="I3"
			   width="40"
			   height="40"
			   x="287.97458"
			   y="810.29803" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="I4"
			   width="40"
			   height="40"
			   x="367.97458"
			   y="810.29803" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="I5"
			   width="40"
			   height="40"
			   x="447.97458"
			   y="810.29803" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="I6"
			   width="40"
			   height="40"
			   x="527.97461"
			   y="810.29803" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="I7"
			   width="40"
			   height="40"
			   x="607.97461"
			   y="810.29803" />
			<rect
			   style="fill:#b3ff80;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="rect2985-5"
			   width="700"
			   height="165"
			   x="0.52293277"
			   y="886.70325" />
			<text
			   xml:space="preserve"
			   style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="263.1626"
			   y="929.1297"
			   id="text2987-5"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan2989-7"
				 x="263.1626"
				 y="929.1297">SALIDAS</tspan><tspan
				 sodipodi:role="line"
				 x="263.1626"
				 y="979.1297"
				 id="tspan2991-7" /></text>
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="Q0"
			   width="40"
			   height="40"
			   x="47.487381"
			   y="987.40723" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="Q1"
			   width="40"
			   height="40"
			   x="127.48738"
			   y="987.40723" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="Q2"
			   width="40"
			   height="40"
			   x="207.48738"
			   y="987.40723" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="Q3"
			   width="40"
			   height="40"
			   x="287.48737"
			   y="987.40723" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="Q4"
			   width="40"
			   height="40"
			   x="367.48737"
			   y="987.40723" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="Q5"
			   width="40"
			   height="40"
			   x="447.4874"
			   y="987.40723" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="Q6"
			   width="40"
			   height="40"
			   x="527.48737"
			   y="987.40723" />
			<rect
			   style="fill:#ff0000;fill-opacity:1;stroke:#000000;stroke-width:0.1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
			   id="Q7"
			   width="40"
			   height="40"
			   x="607.48737"
			   y="987.40723" />
			<text
			   xml:space="preserve"
			   style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="47.487381"
			   y="970.67493"
			   id="OUT0"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan3250-15"
				 x="47.487381"
				 y="970.67493">Q0.0</tspan></text>
			<text
			   xml:space="preserve"
			   style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="127.48738"
			   y="970.67493"
			   id="OUT1"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan3250-9-3"
				 x="127.48738"
				 y="970.67493">Q0.1 </tspan></text>
			<text
			   xml:space="preserve"
			   style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="207.48738"
			   y="970.67493"
			   id="OUT2"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan3250-4-3"
				 x="207.48738"
				 y="970.67493">Q0.2</tspan></text>
			<text
			   xml:space="preserve"
			   style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="287.48737"
			   y="970.67493"
			   id="OUT3"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan3250-1-5"
				 x="287.48737"
				 y="970.67493">Q0.3</tspan></text>
			<text
			   xml:space="preserve"
			   style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="367.48737"
			   y="970.67493"
			   id="OUT4"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan3250-46-6"
				 x="367.48737"
				 y="970.67493">Q0.4</tspan></text>
			<text
			   xml:space="preserve"
			   style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="447.4874"
			   y="970.67493"
			   id="OUT5"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan3250-7-0"
				 x="447.4874"
				 y="970.67493">Q0.5</tspan></text>
			<text
			   xml:space="preserve"
			   style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="527.48737"
			   y="970.67493"
			   id="OUT6"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan3250-5-4"
				 x="527.48737"
				 y="970.67493">Q0.6</tspan></text>
			<text
			   xml:space="preserve"
			   style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			   x="607.48737"
			   y="970.67493"
			   id="OUT7"
			   sodipodi:linespacing="125%"><tspan
				 sodipodi:role="line"
				 id="tspan3250-2-0"
				 x="607.48737"
				 y="970.67493">Q0.7</tspan></text>
		  </g>
		  <text
			 xml:space="preserve"
			 style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			 x="47.974594"
			 y="85.293549"
			 id="IN0"
			 sodipodi:linespacing="125%"><tspan
			   sodipodi:role="line"
			   id="tspan3250"
			   x="47.974594"
			   y="85.293549">I0.0</tspan></text>
		  <text
			 xml:space="preserve"
			 style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			 x="127.97459"
			 y="85.293549"
			 id="IN1"
			 sodipodi:linespacing="125%"><tspan
			   sodipodi:role="line"
			   id="tspan3250-9"
			   x="127.97459"
			   y="85.293549">I0.1 </tspan></text>
		  <text
			 xml:space="preserve"
			 style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			 x="207.97459"
			 y="85.293549"
			 id="IN2"
			 sodipodi:linespacing="125%"><tspan
			   sodipodi:role="line"
			   id="tspan3250-4"
			   x="207.97459"
			   y="85.293549">I0.2</tspan></text>
		  <text
			 xml:space="preserve"
			 style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			 x="287.97458"
			 y="85.293549"
			 id="IN3"
			 sodipodi:linespacing="125%"><tspan
			   sodipodi:role="line"
			   id="tspan3250-1"
			   x="287.97458"
			   y="85.293549">I0.3</tspan></text>
		  <text
			 xml:space="preserve"
			 style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			 x="367.97458"
			 y="85.293549"
			 id="IN4"
			 sodipodi:linespacing="125%"><tspan
			   sodipodi:role="line"
			   id="tspan3250-46"
			   x="367.97458"
			   y="85.293549">I0.4</tspan></text>
		  <text
			 xml:space="preserve"
			 style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			 x="447.97458"
			 y="85.293549"
			 id="IN5"
			 sodipodi:linespacing="125%"><tspan
			   sodipodi:role="line"
			   id="tspan3250-7"
			   x="447.97458"
			   y="85.293549">I0.5</tspan></text>
		  <text
			 xml:space="preserve"
			 style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			 x="527.97461"
			 y="85.293549"
			 id="IN6"
			 sodipodi:linespacing="125%"><tspan
			   sodipodi:role="line"
			   id="tspan3250-5"
			   x="527.97461"
			   y="85.293549">I0.6</tspan></text>
		  <text
			 xml:space="preserve"
			 style="font-size:20px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
			 x="607.97461"
			 y="85.293549"
			 id="IN7"
			 sodipodi:linespacing="125%"><tspan
			   sodipodi:role="line"
			   id="tspan3250-2"
			   x="607.97461"
			   y="85.293549">I0.7</tspan></text>
		</svg>

	</head>

	<body>
		
		<br>
		Q0.0: 
		<button id="ON_Q0">ON</button>
		<button id="OFF_Q0">OFF</button>
		<br>
		Q0.1: 
		<button id="ON_Q1">ON</button>
		<button id="OFF_Q1">OFF</button>
		<br>
		Q0.2: 
		<button id="ON_Q2">ON</button>
		<button id="OFF_Q2">OFF</button>
		<br>
		Q0.3: 
		<button id="ON_Q3">ON</button>
		<button id="OFF_Q3">OFF</button>
		<br>
		Q0.4: 
		<button id="ON_Q4">ON</button>
		<button id="OFF_Q4">OFF</button>
		<br>
		Q0.5: 
		<button id="ON_Q5">ON</button>
		<button id="OFF_Q5">OFF</button>
		<br>
		Q0.6: 
		<button id="ON_Q6">ON</button>
		<button id="OFF_Q6">OFF</button>
		<br>
		Q0.7: 
		<button id="ON_Q7">ON</button>
		<button id="OFF_Q7">OFF</button>
	
		<!--Importamos la libreria Raphael.js-->
		<script src={{=URL('static','js/raphael-min.js')}}> </script>
		
		<!--Script de javascript-->
		<script language="javascript">
		  
		  var num=0;
		  
		  jQuery(document).ready(function()  // Funcion Ready se ejecuta cuando la pagina esta cargada completamente
		  {
			// Temporizador 1 se ejecuta cada 100 ms la funcion Salidas
            temp = window.setInterval(Funcion_lectura, 1100);
            
			// Funcion temporizada
			function Funcion_lectura()
			{
			  // ESCRITURA SALIDAS
					
			  // ESCRITURA ON SALIDA Q0.0
			  jQuery("#ON_Q0").click(function()  // Funcion cuando le doy click al boton
			  {
			 	num=1;
				valor={'numero':0}
	   		  });
			  // ESCRITURA OFF SALIDA Q0.0
			  jQuery("#OFF_Q0").click(function()  // Funcion cuando le doy click al boton
			  {	
				num=1;
				valor={'numero':1}
	  		  });

			  // Si num es mayor de 1 hace un post a la funcion Escribir_OUT
			  if (num > 0)
			  {
				//window.console.log(valor);	 
				jQuery.post("{{=URL('default','Escribir_OUT.json')}}", valor, {contentType: 'application/json'})
				num=0;
			  }
			
			  // LECTURA DE ENTRADAS Y SALIDAS
			  jQuery.post("{{=URL('default','Lectura_PLC.json')}}", {contentType: 'application/json'}) 
		      .success(function(datos)  
		      {   	
			    //window.console.log(datos['DATOS'][8]);
			    
			    // LECTURA DE ENTRADAS    
			    if (datos['DATOS'][0]==1)  // Lectura de entrada I0.0 cuando esta a 1
	            {
		          jQuery("#I0").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
		        }
		        if (datos['DATOS'][0]==0)  // Lectura de entrada I0.0 cuando esta a 0
		        {
		          jQuery("#I0").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
		        }  
			      
		          
				// LECTURA DE SALIDAS
				if (datos['DATOS'][8]==1)  // Lectura de salida Q0.0 cuando esta a 1
			    {
			      jQuery("#Q0").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
			    }
			    if (datos['DATOS'][8]==0)  // Lectura de salida Q0.0 cuando esta a 0
			    {
			      jQuery("#Q0").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
			    }  
			      
			    if (datos['DATOS'][9]==1)  // Lectura de salida Q0.1 cuando esta a 1
	    	    {
				  jQuery("#Q1").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
				}
				if (datos['DATOS'][9]==0)  // Lectura de salida Q0.1 cuando esta a 0
				{
				  jQuery("#Q1").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
				}
				  
				if (datos['DATOS'][10]==1)  // Lectura de salida Q0.2 cuando esta a 1
				{
				  jQuery("#Q2").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
				}
				if (datos['DATOS'][10]==0)  // Lectura de salida Q0.2 cuando esta a 0
				{
				  jQuery("#Q2").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
				}
				  
				if (datos['DATOS'][11]==1)  // Lectura de salida Q0.3 cuando esta a 1
				{
				  jQuery("#Q3").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
				}
				if (datos['DATOS'][11]==0)  // Lectura de salida Q0.3 cuando esta a 0
				{
				  jQuery("#Q3").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
				}
				  
			    if (datos['DATOS'][12]==1)  // Lectura de salida Q0.4 cuando esta a 1
			    {
			      jQuery("#Q4").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
				}
				if (datos['DATOS'][12]==0)  // Lectura de salida Q0.4 cuando esta a 0
				{
				  jQuery("#Q4").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
				}
				  
				if (datos['DATOS'][13]==1)  // Lectura de salida Q0.5 cuando esta a 1
				{
				  jQuery("#Q5").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
				}
				if (datos['DATOS'][13]==0)  // Lectura de salida Q0.5 cuando esta a 0
				{
				  jQuery("#Q5").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
				}
				  
				if (datos['DATOS'][14]==1)  // Lectura de salida Q0.6 cuando esta a 1
				{
				  jQuery("#Q6").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
				}
				if (datos['DATOS'][14]==0)  // Lectura de salida Q0.6 cuando esta a 0
				{
				  jQuery("#Q6").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
				}
				  
				if (datos['DATOS'][15]==1)  // Lectura de salida Q0.7 cuando esta a 1
				{
				  jQuery("#Q7").attr('style','fill:green');  // Ponemos el verde el piloto al que corresponde
				}
				if (datos['DATOS'][15]==0)  // Lectura de salida Q0.7 cuando esta a 0
				{
				  jQuery("#Q7").attr('style','fill:red');  // Ponemos en rojo el piloto al que corresponde
			    }
		      });    
		    }
          });
		</script>
	</body>
</html>
